@font-face { font-family: 'iransansx'; src: url('fonts/iransansx/woff2/IRANSansX-Heavy.woff2');font-weight: 100; }
@font-face { font-family: 'iransansx'; src: url('fonts/iransansx/woff2/IRANSansX-Thin.woff2');font-weight: 200; }
@font-face { font-family: 'iransansx'; src: url('fonts/iransansx/woff2/IRANSansX-UltraLight.woff2');font-weight: 300; }
@font-face { font-family: 'iransansx'; src: url('fonts/iransansx/woff2/IRANSansX-Light.woff2');font-weight: 350; }
@font-face { font-family: 'iransansx'; src: url('fonts/iransansx/woff2/IRANSansX-Regular.woff2');font-weight: 400; }
@font-face { font-family: 'iransansx'; src: url('fonts/iransansx/woff2/IRANSansX-Medium.woff2');font-weight: 500; }
@font-face { font-family: 'iransansx'; src: url('fonts/iransansx/woff2/IRANSansX-DemiBold.woff2');font-weight: 600; }
@font-face { font-family: 'iransansx'; src: url('fonts/iransansx/woff2/IRANSansX-Bold.woff2');font-weight: 700; }
@font-face { font-family: 'iransansx'; src: url('fonts/iransansx/woff2/IRANSansX-ExtraBold.woff2');font-weight: 800; }
@font-face { font-family: 'iransansx'; src: url('fonts/iransansx/woff2/IRANSansX-Black.woff2');font-weight: 900; }




//Text Colors
$textColorDark: #3f3f3f;
$textColorLight: #a1a1a1;
$textColorLighter: #bee7ee;

//Main Colors
$mainColor: #81a8af;
$mainColorDark: #324b4f;
$offColor: #ffa96b;

//Gradient Colors
$backColorDark: #e6e1e0;
$backColorLight: #f5f1ef;
$backColorLighter: #fcf9f8;


@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}  
}