@import 'sass/breakpoints';
@import 'sass/variables';
@import 'sass/source';

.mainFooterBack{
    background-color: $backColorDark;
    .mainFooter{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        h2{
            margin: 0px 0px 20px 0px;
            color: $textColorLight;
        }
        .footerColumns{
            @include xs{
                width: 100% !important;
                margin-top: 20px;
            }
        }
        .footerColumn1{
            width: 36%;
            @include xs{
                order: 3;
            }
            p{
                text-align: justify;
            }
        }
        .footerColumn2{
            width: 12%;
            @include xs{
                order: 2;
            }
        }
        .footerColumn3{
            width: 30%;
            @include xs{
                order: 1;
            }
            li{
                a{
                    display: flex;
                    svg{
                        margin-left: 3px;
                    }
                }
            }
        }
    }
}
.footerCopyRightBack{
    background-color: $backColorLighter;
    padding: 15px 0px;
    .footerCopyRight{
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include xs{
            flex-direction: column;
        }
        p{
            margin: 0;
            @include xs{
                order: 2;
                font-size: 10px;
            }
        }
        .footerCopyRightIcons{
            display: flex;
            align-items: center;
            a{
                margin: 0px 7px;
            }
        }
    }
}
.page-template-aboutUs-template{
    background-color: $backColorLighter;
}
.aboutPageSectionOneBack{
    .aboutPageSectionOne{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .sectionOneRight{
            width: 40%;
            @include xs{
                width: 100%;
                order: 2;
            }
            h2{
                color: $textColorLighter;
            }
        }
        .sectionOneLeft{
            width: 50%;
            @include xs{
                width: 100%;
                order: 1;
            }
        }
    }
}
.aboutPageSectionTwoBack{
    background-image: url('img/back-about.png');
    background-size: cover;
    background-position: center;
    padding: 150px;
    @include xs{
        padding: 0;
    }
    .aboutPageSectionTwo{
        width: 40%;
        text-align: center;
        @include xs{
            padding: 10px 0px;
            width: 100%;
        }
        h2 , p{
            @include xs{
                line-height: 22px;
            }
        }
        p{
            @include xs{
                font-size: 13.5px;
            }
        }
        h2{
            @include xs{
                font-size: 20px;
            }
        }
    }
}
.aboutPageSectionThreeBack{
    .aboutPageSectionThree{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        .sectionOneRight{
            width: 50%;
            @include xs{
                width: 100%;
                order: 2;
            }
        }
        .sectionOneLeft{
            width: 40%;
            @include xs{
                width: 100%;
                order: 1;
            }
            h2{
                color: $textColorLighter;
            }
        }
    }
}
.contactUsPageBack{
    background-color: $backColorLighter;
    .contactUsPage{
        .contactUsPageSectionOne{
            width: 85%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: auto;
            @include xs{
                width: 100%;
            }
            .communicationSec{
                @include xs{
                    width: 100%;
                    order: 2;
                }
                h5{
                    margin-bottom: 5px;
                }
                .communications{
                    display: flex;
                    align-items: center;
                    svg{
                        margin-left: 4px;
                    }
                }
                .daysContact{
                    margin-right: 10px;
                }
            }
            .formSec{
                width: 46%;
                @include xs{
                    width: 100%;
                    order: 1;
                }
                .contactPageForm{
                    background-color: $backColorLight;
                    padding: 40px 40px 0px 40px;
                    @include xs{
                        padding: 20px 20px 0px 5px;
                    }
                    .cFormPageSecOne{
                        display: flex;
                        p{
                            display: flex;
                            input{
                                &[type=email] , &[type=text] {
                                    padding: 7px 14px !important;
                                }
                            }
                        }
                    }
                    p{
                        line-height: 20px !important;
                        margin-bottom: 0 !important;
                    }
                    input{
                        &[type=submit]{
                            width: 30%;
                            padding: 7px 14px !important;
                            @include xs{
                                width: 40%;
                            }
                        }
                    }
                    textarea{
                        height: 130px !important;
                    }
                }
            }
        }
        .contactUsPageSectionTwo{
            display: flex;
            justify-content: center;
            iframe{
                height: 300px;
                width: 85%;
                @include xs{
                    width: 100%;
                    height: 180px;
                }
            }
        }
    }
}
.archiveParent{
    display: grid;
    grid-template-columns: repeat(3,minmax(0,1fr));
    grid-gap: 40px;
    margin-bottom: 30px;
    @include xs{
        grid-template-columns: repeat(1,minmax(0,1fr)) !important;
    }
    @include sm{
        grid-template-columns: repeat(2,minmax(0,1fr));
    }
    a{
        transition: all 0.4s;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
        background-color: #fff;
        &:hover{
            background-color: lighten($backColorLight,4%);
            img{
                transform: scale(1.1);
            }
        }
        .entry-header{
            padding: 0 30px;
            text-align: center;
        }
        p{
            padding: 0 30px;
            color: $textColorLight;
        }
        .archivePostFooter{
            display: flex;
            justify-content: space-between;
            padding: 20px 30px;
            span{
                display: flex;
                color: $textColorLight;
                font-weight: 300;
                svg{
                    margin-left: 4px;
                }
            }
        }
        .archiveCardImg{
            overflow: hidden;
        }
        img{
            transition: all 0.4s;
        }
    }
}
.categorySecParent{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .categoryItem{
        margin: 0px 0px 15px 15px;
        font-weight: 500;
        @include xs{
            font-size: 13px;
        }
    }
}
.archiveCatTitle{
    .page-title{
        display: flex;
        font-size: 22px;
        flex-wrap: wrap;
        align-items: center;
        span{
            font-size: 15px;
            // font-weight: 300;
            display: block;
            margin: 0;
            margin-right: 5px;
        }
    }
}
.singleBox{
    margin-left: auto;
    margin-right: auto;
    max-width: 950px;
}
.post-thumbnail{
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    img{
        display: block;
        width: 100%;
        height: auto;
    }
}
.entry-content{
    h3 , h2 , h4{
        color: $textColorLight;
    }
    img{
        display: block;
        width: 100%;
        height: auto;
        border-radius: 10px;
        overflow: hidden;
        margin-bottom: 20px;
    }
}
.comments-area{
    .comments-title{
    font-size: 17px;
    }
    .comment-list{
        padding: 0 !important;
        li{
            padding: 20px !important;
            background-color: #fff;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            &::before{
                content: none;
            }
            .comment-meta{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .comment-author{
                    display: flex;
                    align-items: center;
                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 100%;
                        margin: 0px 0px 5px 20px;
                    }
                    .says{
                        display: none;
                    }
                }
                .comment-metadata{
                    time , span{
                        color: $textColorLight;
                    }
                }
            }
            .comment-content{
                width: 87%;
                margin: 10px auto;
            }
            .reply{
                display: flex;
                flex-direction: row-reverse;
                .comment-reply-link{
                    padding: 7px 20px;
                    border: 1px solid rgba(0, 0, 0, 0.2);
                    border-radius: 8px;
                }
            }
        }
    }
    .comment-respond{
        background-color: $backColorDark;
        padding: 20px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        margin: 30px 0 60px 0;
        textarea , input{
            margin-right: 0 !important;
        }
        .comment-form-url{
            display: none;
        }
        .comment-form-author{
            display: inline-block;
            width: 48%;
            margin-left: 30px;
        }
        .comment-form-email{
            display: inline-block;
            width: 48%;
        }
        .comment-form-cookies-consent{
            display: flex;
            align-items: center;
            label{
                padding-right: 5px !important;
                margin-bottom: 0 !important;
            }
        }
        .form-submit{
            width: 15%;
            input{
                &[type=submit]{
                    padding: 7px 14px !important;
                }
            }
        }
    }
}
