@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Heavy.woff2");
  font-weight: 100;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Thin.woff2");
  font-weight: 200;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-UltraLight.woff2");
  font-weight: 300;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Light.woff2");
  font-weight: 350;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Medium.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-DemiBold.woff2");
  font-weight: 600;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-ExtraBold.woff2");
  font-weight: 800;
}
@font-face {
  font-family: "iransansx";
  src: url("fonts/iransansx/woff2/IRANSansX-Black.woff2");
  font-weight: 900;
}
body {
  font-family: iransansx !important;
  direction: rtl;
  margin: 0;
  overflow-x: hidden !important;
  width: 100% !important;
  color: #3f3f3f;
  padding: 0;
  font-size: 14.5px;
  background-color: #fcf9f8;
}

* {
  box-sizing: border-box;
  direction: rtl;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  background-color: #ffa96b;
  color: #fff;
}

::selection {
  background-color: #ffa96b;
  color: #fff;
}

.mainView {
  max-width: 1280px;
  margin-left: auto !important;
  margin-right: auto !important;
}
@media screen and (max-width: 1280px) {
  .mainView {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}

a, a:visited {
  text-decoration: none;
  color: #324b4f;
}

button {
  font-family: iransansx !important;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.generalHeading {
  margin: 20px auto;
  text-align: center;
}
.generalHeading h1, .generalHeading h2, .generalHeading h3, .generalHeading h4, .generalHeading h5, .generalHeading h6 {
  margin: 0;
  color: #324b4f;
  font-size: 28px;
  line-height: 30px;
}

h1, h2, h3, h4, h5, h6, input, textarea {
  font-family: iransansx !important;
  color: #324b4f;
  margin-top: 25px;
  margin-bottom: 15px;
  line-height: 30px;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
}

.lighterText {
  color: #a1a1a1;
}

.lighterText {
  color: #bee7ee;
}

p {
  line-height: 27px;
  margin-top: 0;
  margin-bottom: 20px;
}

.lightParagraph {
  font-weight: 300;
}

.smallText {
  font-size: 13.5px;
}

.smallerText {
  font-size: 12.5px;
}

.lowMargined {
  margin: 7px 0;
}

.mediumMargined {
  margin: 15px 0;
}

.highMargined {
  margin: 30px 0;
}

.extraHighMargined {
  margin: 60px 0;
}

.lowPadding {
  padding: 7px;
}

.mediumPadding {
  padding: 15px;
}

.highPadding {
  padding: 30px;
}

.sectionPadding {
  padding: 50px 0;
}

.noPadding {
  padding: 0;
}

.noMargin {
  margin: 0;
}

.centeredText {
  text-align: center;
}

.justified {
  text-align: justify;
}

.bottomBorder {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.borderBox {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.mainRadius {
  border-radius: 10px;
}

li {
  list-style-type: none;
  margin: 7px 0;
  position: relative;
  padding-right: 12px;
}
li::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #ffa96b;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  right: 0;
}

.darkListStyle::before {
  background-color: #3f3f3f;
}

.noListStyle {
  padding-right: 0;
}
.noListStyle::before {
  display: none;
}

.checkListStyle {
  padding-right: 20px;
}
.checkListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2340b819' width='14' height='14' viewBox='0 0 512 512'%3E%3Cpath d='M172.2 434.6a39.3 39.3 0 0 1-28.1-11.6L22.9 301.9a33.4 33.4 0 1 1 47.2-47.2l102.1 102.2L441.9 87.1a33.4 33.4 0 0 1 47.2 47.2L200.4 423a39.7 39.7 0 0 1-28.2 11.6Z'/%3E%3C/svg%3E");
  width: 14px;
  height: 14px;
  background-color: initial;
}

.crossListStyle {
  padding-right: 20px;
}
.crossListStyle::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b82819' width='12' height='12' viewBox='0 0 512 512'%3E%3Cpath d='M312.2 255.8 482 86a33.5 33.5 0 1 0-47.4-47.4L264.8 208.4 95 38.6a33.5 33.5 0 0 0-47.4 0 33.5 33.5 0 0 0 0 47.4l169.8 169.8L47.6 425.6a33.5 33.5 0 0 0 0 47.4 33.5 33.5 0 0 0 47.4 0l169.8-169.8L434.6 473a33.5 33.5 0 0 0 47.4 0 33.5 33.5 0 0 0 0-47.4Z'/%3E%3C/svg%3E");
  width: 12px;
  height: 17px;
  background-color: initial;
}

.arrowListStyle {
  padding-right: 22px;
}
.arrowListStyle::before {
  content: url("data:image/svg+xml,%3Csvg width='16' height='16' fill='%2381a8af' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg' class='bi bi-box-arrow-in-left'%3E%3Cpath fill-rule='evenodd' d='M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0v-2z'/%3E%3Cpath fill-rule='evenodd' d='M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z'/%3E%3C/svg%3E");
  width: 16px;
  height: 19px;
  background-color: initial;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  border: 1px solid #324b4f;
}
table th {
  text-align: right;
  border: 1px solid #324b4f;
  padding: 12px;
  color: #fff;
  background-color: #81a8af;
}
table tr:nth-child(2n+1) {
  background-color: #eef3f4;
}
table td {
  font-size: 13.5px;
  padding: 8px 4px;
  font-weight: 400;
  border: 1px solid #324b4f;
  padding: 15px 10px;
}
table td strong {
  font-weight: 600;
}

label {
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
  text-align: right;
  width: 100%;
  padding-right: 15px;
}

input {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 10px 20px;
}
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=url] {
  border: none;
  background-color: #fff;
  border-radius: 10px;
  color: #3f3f3f;
  font-size: 14px;
  margin-right: -15px;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, input[type=email]::-webkit-input-placeholder, input[type=tel]::-webkit-input-placeholder, input[type=url]::-webkit-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, input[type=email]:-moz-placeholder, input[type=tel]:-moz-placeholder, input[type=url]:-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=text]::-moz-placeholder, input[type=password]::-moz-placeholder, input[type=email]::-moz-placeholder, input[type=tel]::-moz-placeholder, input[type=url]::-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, input[type=email]:-ms-input-placeholder, input[type=tel]:-ms-input-placeholder, input[type=url]:-ms-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
input[type=checkbox] {
  width: -moz-max-content;
  width: max-content;
  margin: 0;
}
input[type=submit] {
  background-color: #324b4f;
  color: #fff;
  border: none;
  font-weight: 500;
  padding: 15px 25px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
  font-size: 14px;
}
input[type=submit]:hover {
  background-color: #243639;
}
input:focus {
  outline: none;
}

textarea {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 150px;
  padding: 10px 20px;
  resize: none;
  border-radius: 10px;
  background-color: #fff;
  border: none;
  color: #3f3f3f;
  font-size: 14px;
  margin-right: -15px;
}
textarea::-webkit-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea::-moz-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:-ms-input-placeholder {
  color: #373c60;
  opacity: 0.25;
}
textarea:focus {
  outline: none;
}

select {
  margin-top: 5px;
  display: block;
  width: 100%;
  padding: 15px 10px;
  border: 1px solid #e2e5fc;
  font-family: iransansx;
  background-color: transparent;
}
select option {
  font-family: iranyekanfn;
}

.generalButton {
  background-color: #324b4f;
  border-radius: 5px;
  position: relative;
  color: #fff !important;
  padding: 10px 25px 10px 45px;
  font-size: 14.5px;
  display: block;
  width: -moz-max-content;
  width: max-content;
  transition: all 0.3s;
  border: 1px solid #324b4f;
  cursor: pointer;
}
.generalButton::before {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  left: 15px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 100%;
}
.generalButton::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' width='10px' height='10px' viewBox='0 0 512 512'%3E%3Cpath d='M357.6 500.8a18.3 18.3 0 0 1-12.9-5.4L152 302.7a66.1 66.1 0 0 1 0-93.4L344.7 16.6a18.2 18.2 0 1 1 25.8 25.8L177.8 235.1a29.5 29.5 0 0 0 0 41.8l192.7 192.7a18.3 18.3 0 0 1 0 25.8 17.9 17.9 0 0 1-12.9 5.4Z'%3E%3C/path%3E%3C/svg%3E");
  height: 17px;
  position: absolute;
  left: 19px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
}
.generalButton:hover {
  background-color: #1e2d30;
}

.noArrowButton {
  padding: 10px 25px;
}
.noArrowButton::before {
  display: none;
}
.noArrowButton::after {
  display: none;
}

.outlineButton {
  background-color: transparent;
  color: #324b4f !important;
  border: 1px solid #324b4f;
}
.outlineButton::before {
  background-color: #324b4f;
}
.outlineButton:hover {
  background-color: #a2c0c4;
}

.siteMessage {
  position: relative;
  background-color: #FFF3CD;
  display: block;
  width: 100%;
  padding: 15px 45px 15px 15px;
  margin: 15px 0;
  border-radius: 7px;
}
.siteMessage::before {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 15px;
  top: 0;
  bottom: 0;
  margin: auto;
}

.warningMessage {
  background-color: #FFF3CD;
  border: 1px solid rgba(81, 64, 11, 0.15);
  color: #51400B;
}
.warningMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%2351400B' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.143 13.577a1.857 1.857 0 1 1 3.715 0 1.857 1.857 0 0 1-3.715 0zm.181-11.153a1.681 1.681 0 1 1 3.345 0l-.651 6.515a1.026 1.026 0 0 1-2.043 0l-.65-6.515z'/%3E%3C/svg%3E");
}

.successMessage {
  background-color: #D1E7DD;
  border: 1px solid rgba(17, 70, 46, 0.15);
  color: #11462e;
}
.successMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%2311462E' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 236.988 236.988' style='enable-background:new 0 0 236.988 236.988' xml:space='preserve'%3E%3Cpath d='M194.953 28.046 88.766 134.234 42.035 87.504 4.681 124.859l84.085 84.083L232.307 65.401z'/%3E%3C/svg%3E");
}

.errorMessage {
  background-color: #F8D7DA;
  border: 1px solid rgba(93, 20, 26, 0.15);
  color: #5d141a;
}
.errorMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%235d141a' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M61.403 10.997 53.003 2.597 32 23.6 10.997 2.597 2.597 10.997 23.6 32 2.597 53.003 10.997 61.403 32 40.4 53.003 61.403 61.403 53.003 40.4 32z'/%3E%3C/svg%3E");
}

.informMessage {
  background-color: #CFF4FC;
  border: 1px solid rgba(14, 65, 76, 0.15);
  color: #0e414c;
}
.informMessage::before {
  content: url("data:image/svg+xml,%3Csvg fill='%230e414c' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.063 30.063' style='enable-background:new 0 0 30.063 30.063' xml:space='preserve'%3E%3Cpath d='m17.577 26.354 2.343.124v3.286h-9.778v-3.124l1.356-.123c.739-.084 1.191-.329 1.191-1.315V13.781c0-.908-.247-1.195-1.028-1.195l-1.437-.08V9.096h7.353v17.258zM14.703.299c1.808 0 3.124 1.359 3.124 3.083 0 1.728-1.315 3.001-3.165 3.001-1.889 0-3.124-1.275-3.124-3.001 0-1.725 1.235-3.083 3.165-3.083z'/%3E%3C/svg%3E");
}

.alignleft {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  float: right;
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1.5em;
}

.hashtagParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hashtagItem {
  width: -moz-max-content;
  width: max-content;
  padding: 3px 20px 3px 10px;
  position: relative;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.hashtagItem::before {
  content: "#";
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  height: -moz-max-content;
  height: max-content;
}

.mainFooterBack {
  background-color: #e6e1e0;
}
.mainFooterBack .mainFooter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.mainFooterBack .mainFooter h2 {
  margin: 20px 0px;
  color: #a1a1a1;
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .footerColumns {
    width: 100% !important;
    margin-top: 20px;
  }
}
.mainFooterBack .mainFooter .footerColumn1 {
  width: 36%;
}
.mainFooterBack .mainFooter .footerColumn1 svg {
  width: 100px;
  height: 70px;
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .footerColumn1 {
    order: 3;
  }
}
.mainFooterBack .mainFooter .footerColumn1 p {
  text-align: justify;
}
.mainFooterBack .mainFooter .footerColumn2 {
  width: 12%;
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .footerColumn2 {
    order: 2;
  }
}
.mainFooterBack .mainFooter .footerColumn3 {
  width: 30%;
}
@media screen and (max-width: 480px) {
  .mainFooterBack .mainFooter .footerColumn3 {
    order: 1;
  }
}
.mainFooterBack .mainFooter .footerColumn3 li a {
  display: flex;
}
.mainFooterBack .mainFooter .footerColumn3 li a svg {
  margin-left: 3px;
}

.footerCopyRightBack {
  background-color: #fcf9f8;
  padding: 15px 0px;
}
.footerCopyRightBack .footerCopyRight {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .footerCopyRightBack .footerCopyRight {
    flex-direction: column;
  }
}
.footerCopyRightBack .footerCopyRight p {
  margin: 0;
}
.footerCopyRightBack .footerCopyRight p a {
  color: #a1a1a1;
}
@media screen and (max-width: 480px) {
  .footerCopyRightBack .footerCopyRight p {
    order: 2;
    font-size: 10px;
  }
}
.footerCopyRightBack .footerCopyRight .footerCopyRightIcons {
  display: flex;
  align-items: center;
}
.footerCopyRightBack .footerCopyRight .footerCopyRightIcons a {
  margin: 0px 7px;
}

.page-template-aboutUs-template {
  background-color: #fcf9f8;
}

.aboutPageSectionOneBack .aboutPageSectionOne {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.aboutPageSectionOneBack .aboutPageSectionOne .sectionOneRight {
  width: 40%;
}
@media screen and (max-width: 480px) {
  .aboutPageSectionOneBack .aboutPageSectionOne .sectionOneRight {
    width: 100%;
    order: 2;
  }
}
.aboutPageSectionOneBack .aboutPageSectionOne .sectionOneRight h2 {
  color: #a1a1a1;
}
.aboutPageSectionOneBack .aboutPageSectionOne .sectionOneLeft {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .aboutPageSectionOneBack .aboutPageSectionOne .sectionOneLeft {
    width: 100%;
    order: 1;
  }
}

.aboutPageSectionTwoBack {
  background-image: url("img/back-about.png");
  background-size: cover;
  background-position: center;
  padding: 150px;
}
@media screen and (max-width: 480px) {
  .aboutPageSectionTwoBack {
    padding: 0;
  }
}
.aboutPageSectionTwoBack .aboutPageSectionTwo {
  width: 40%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .aboutPageSectionTwoBack .aboutPageSectionTwo {
    padding: 10px 0px;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .aboutPageSectionTwoBack .aboutPageSectionTwo h2, .aboutPageSectionTwoBack .aboutPageSectionTwo p {
    line-height: 22px;
  }
}
@media screen and (max-width: 480px) {
  .aboutPageSectionTwoBack .aboutPageSectionTwo p {
    font-size: 13.5px;
  }
}
@media screen and (max-width: 480px) {
  .aboutPageSectionTwoBack .aboutPageSectionTwo h2 {
    font-size: 20px;
  }
}

.aboutPageSectionThreeBack .aboutPageSectionThree {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.aboutPageSectionThreeBack .aboutPageSectionThree .sectionOneRight {
  width: 50%;
}
@media screen and (max-width: 480px) {
  .aboutPageSectionThreeBack .aboutPageSectionThree .sectionOneRight {
    width: 100%;
    order: 2;
  }
}
.aboutPageSectionThreeBack .aboutPageSectionThree .sectionOneLeft {
  width: 40%;
}
@media screen and (max-width: 480px) {
  .aboutPageSectionThreeBack .aboutPageSectionThree .sectionOneLeft {
    width: 100%;
    order: 1;
  }
}
.aboutPageSectionThreeBack .aboutPageSectionThree .sectionOneLeft h2 {
  color: #a1a1a1;
}

.contactUsPageBack {
  background-color: #fcf9f8;
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne {
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
@media screen and (max-width: 480px) {
  .contactUsPageBack .contactUsPage .contactUsPageSectionOne {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .contactUsPageBack .contactUsPage .contactUsPageSectionOne .communicationSec {
    width: 100%;
    order: 2;
  }
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .communicationSec h5 {
  margin-bottom: 5px;
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .communicationSec .communications {
  display: flex;
  align-items: center;
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .communicationSec .communications svg {
  margin-left: 4px;
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .communicationSec .daysContact {
  margin-right: 10px;
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec {
  width: 46%;
}
@media screen and (max-width: 480px) {
  .contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec {
    width: 100%;
    order: 1;
  }
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec .contactPageForm {
  background-color: #f5f1ef;
  padding: 40px 40px 0px 40px;
}
@media screen and (max-width: 480px) {
  .contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec .contactPageForm {
    padding: 20px 20px 0px 5px;
  }
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec .contactPageForm .cFormPageSecOne {
  display: flex;
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec .contactPageForm .cFormPageSecOne p {
  display: flex;
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec .contactPageForm .cFormPageSecOne p input[type=email], .contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec .contactPageForm .cFormPageSecOne p input[type=text] {
  padding: 7px 14px !important;
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec .contactPageForm p {
  line-height: 20px !important;
  margin-bottom: 0 !important;
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec .contactPageForm input[type=submit] {
  width: 30%;
  padding: 7px 14px !important;
}
@media screen and (max-width: 480px) {
  .contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec .contactPageForm input[type=submit] {
    width: 40%;
  }
}
.contactUsPageBack .contactUsPage .contactUsPageSectionOne .formSec .contactPageForm textarea {
  height: 130px !important;
}
.contactUsPageBack .contactUsPage .contactUsPageSectionTwo {
  display: flex;
  justify-content: center;
}
.contactUsPageBack .contactUsPage .contactUsPageSectionTwo iframe {
  height: 300px;
  width: 85%;
}
@media screen and (max-width: 480px) {
  .contactUsPageBack .contactUsPage .contactUsPageSectionTwo iframe {
    width: 100%;
    height: 180px;
  }
}

.archiveParent {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 40px;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .archiveParent {
    grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
  }
}
@media screen and (max-width: 768px) {
  .archiveParent {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
.archiveParent a {
  transition: all 0.4s;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
}
.archiveParent a:hover {
  background-color: #fdfcfc;
}
.archiveParent a:hover img {
  transform: scale(1.1);
}
.archiveParent a .entry-header {
  padding: 0 30px;
  text-align: center;
}
.archiveParent a p {
  padding: 0 30px;
  color: #a1a1a1;
}
.archiveParent a .archivePostFooter {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
}
.archiveParent a .archivePostFooter span {
  display: flex;
  color: #a1a1a1;
  font-weight: 300;
}
.archiveParent a .archivePostFooter span svg {
  margin-left: 4px;
}
.archiveParent a .archiveCardImg {
  overflow: hidden;
}
.archiveParent a img {
  transition: all 0.4s;
}

.categorySecParent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.categorySecParent .categoryItem {
  margin: 0px 0px 15px 15px;
  font-weight: 500;
}
@media screen and (max-width: 480px) {
  .categorySecParent .categoryItem {
    font-size: 13px;
  }
}

.archiveCatTitle .page-title {
  display: flex;
  font-size: 22px;
  flex-wrap: wrap;
  align-items: center;
}
.archiveCatTitle .page-title span {
  font-size: 15px;
  display: block;
  margin: 0;
  margin-right: 5px;
}

.singleBox {
  margin-left: auto;
  margin-right: auto;
  max-width: 950px;
}

.post-thumbnail {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}
.post-thumbnail img {
  display: block;
  width: 100%;
  height: auto;
}

.entry-content h3, .entry-content h2, .entry-content h4 {
  color: #a1a1a1;
}
.entry-content p {
  text-align: justify;
}
.entry-content img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

.comments-area .comments-title {
  font-size: 17px;
}
.comments-area .comment-list {
  padding: 0 !important;
}
.comments-area .comment-list li {
  padding: 20px !important;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.comments-area .comment-list li::before {
  content: none;
}
.comments-area .comment-list li .comment-meta {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .comment-meta {
    align-items: normal;
    flex-direction: column;
    font-size: 12px;
  }
}
.comments-area .comment-list li .comment-meta .comment-author {
  display: flex;
  align-items: center;
}
.comments-area .comment-list li .comment-meta .comment-author img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin: 0px 0px 5px 20px;
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .comment-meta .comment-author img {
    width: 30px;
    height: 30px;
  }
}
.comments-area .comment-list li .comment-meta .comment-author .says {
  display: none;
}
.comments-area .comment-list li .comment-meta .comment-metadata time, .comments-area .comment-list li .comment-meta .comment-metadata span {
  color: #a1a1a1;
}
.comments-area .comment-list li .comment-content {
  width: 87%;
  margin: 10px auto;
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .comment-content p {
    font-size: 13px;
  }
}
.comments-area .comment-list li .reply {
  display: flex;
  flex-direction: row-reverse;
}
.comments-area .comment-list li .reply .comment-reply-link {
  padding: 7px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
@media screen and (max-width: 480px) {
  .comments-area .comment-list li .reply .comment-reply-link {
    font-size: 12px;
    padding: 5px 15px;
  }
}

.comment-respond {
  background-color: #e6e1e0 !important;
  padding: 20px !important;
  border-radius: 8px !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  margin: 30px 0 60px 0 !important;
}
.comment-respond textarea, .comment-respond input {
  margin-right: 0 !important;
}
.comment-respond .comment-form-url {
  display: none !important;
}
.comment-respond .comment-form-author {
  display: inline-block !important;
  width: 48% !important;
  margin-left: 30px !important;
}
@media screen and (max-width: 768px) {
  .comment-respond .comment-form-author {
    width: 100% !important;
  }
}
.comment-respond .comment-form-email {
  display: inline-block !important;
  width: 48% !important;
}
@media screen and (max-width: 768px) {
  .comment-respond .comment-form-email {
    width: 100% !important;
  }
}
.comment-respond .comment-form-cookies-consent {
  display: flex !important;
  align-items: center !important;
}
.comment-respond .comment-form-cookies-consent label {
  padding-right: 5px !important;
  margin-bottom: 0 !important;
}
.comment-respond .form-submit {
  width: -moz-max-content !important;
  width: max-content !important;
}
.comment-respond .form-submit input[type=submit] {
  padding: 10px 20px !important;
  background-color: #324b4f !important;
  color: #fff !important;
  border: none !important;
  font-weight: 500 !important;
  cursor: pointer !important;
  transition: all 0.3s !important;
  border-radius: 10px !important;
  font-size: 14px !important;
}
@media screen and (max-width: 480px) {
  .comment-respond .comment-notes, .comment-respond .logged-in-as {
    font-size: 13px;
  }
}
.comment-respond .comment-form-url {
  display: none;
}
.comment-respond .comment-form-author {
  display: inline-block;
  width: 48%;
  margin-left: 30px;
}
@media screen and (max-width: 480px) {
  .comment-respond .comment-form-author {
    width: 100%;
    margin-left: 0px;
  }
}
.comment-respond .comment-form-email {
  display: inline-block;
  width: 48%;
}
@media screen and (max-width: 480px) {
  .comment-respond .comment-form-email {
    width: 100%;
  }
}
.comment-respond .comment-form-cookies-consent {
  display: flex;
  align-items: center;
}
.comment-respond .comment-form-cookies-consent label {
  padding-right: 5px !important;
  margin-bottom: 0 !important;
}
@media screen and (max-width: 480px) {
  .comment-respond .comment-form-cookies-consent label {
    font-size: 11px;
    line-height: 20px;
  }
}
.comment-respond .form-submit {
  width: 15%;
}
@media screen and (max-width: 480px) {
  .comment-respond .form-submit {
    width: 35%;
  }
}
.comment-respond .form-submit input[type=submit] {
  padding: 7px 14px !important;
}
@media screen and (max-width: 480px) {
  .comment-respond .form-submit input[type=submit] {
    font-size: 11.5px;
  }
}

.single-post header {
  margin-bottom: 0px;
}
.single-post .morePostBlog .archiveParent .entry-title {
  font-size: 18px;
}
.single-post .morePostBlog .archiveParent .archiveCardExc {
  font-size: 13px;
}
.single-post .morePostBlog .archiveParent .archivePostFooter {
  font-size: 12.5px;
}

.generalSinglePostStyle .singlePostSubHeading {
  display: flex;
  justify-content: center;
  font-size: 12px;
  color: #a1a1a1;
  margin-bottom: 30px;
}
@media screen and (max-width: 480px) {
  .generalSinglePostStyle .singlePostSubHeading {
    font-size: 10.5px;
  }
}
.generalSinglePostStyle .singlePostSubHeading .dateSinglePost {
  margin-left: 30px;
}

.archive .categorySecParent .activeCategory {
  font-weight: 800;
  position: relative;
}
.archive .categorySecParent .activeCategory::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 3px;
  background-color: #ffa96b;
  bottom: 51px;
  left: 0;
  right: 0;
  margin: auto;
}
@media screen and (max-width: 480px) {
  .archive .categorySecParent .activeCategory {
    color: #ffa96b !important;
  }
  .archive .categorySecParent .activeCategory::before {
    content: none;
  }
}

.mainHeaderBack {
  background-color: #fff;
  padding: 2px 0px;
}
.mainHeaderBack .mainHeader {
  display: flex;
  align-items: center;
}
.mainHeaderBack .mainHeader .logoSection {
  margin-left: 15px;
}
.mainHeaderBack .mainHeader .logoSection svg {
  width: 110px;
  height: 80px;
}
@media screen and (max-width: 768px) {
  .mainHeaderBack .mainHeader .logoSection svg {
    width: 90px;
    height: 60px;
  }
}
@media screen and (max-width: 768px) {
  .mainHeaderBack .mainHeader .menuSection {
    display: none;
  }
}
.mainHeaderBack .mainHeader .menuSection ul {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}
.mainHeaderBack .mainHeader .menuSection ul li::before {
  content: none;
}
.mainHeaderBack .mainHeader .menuSection ul li a {
  padding: 5px 10px;
}
.mainHeaderBack .mainHeader .menuSection ul .current-menu-item a {
  color: #a1a1a1;
}
.mainHeaderBack .mainHeader .menuSection ul .menu-item-has-children a svg {
  margin-right: 5px;
}
.mainHeaderBack .mainHeader .menuSection ul .menu-item-has-children:hover ul {
  visibility: visible;
  opacity: 1;
}
.mainHeaderBack .mainHeader .menuSection ul .menu-item-has-children ul {
  position: absolute;
  background-color: #fcf9f8;
  display: flex;
  flex-direction: column;
  width: 120px;
  right: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s;
  align-items: start;
  border-radius: 10px;
  z-index: 9;
}
.mainHeaderBack .mainHeader .menuSection ul .menu-item-has-children ul li {
  margin: 2px 0;
  padding-right: 3px;
  border-bottom: 1px solid #81a8af;
  width: 100%;
}
.mainHeaderBack .mainHeader .menuSection ul .menu-item-has-children ul li:last-child {
  border-bottom: none;
}
.mainHeaderBack .mainHeader .menuSection ul .menu-item-has-children ul li:hover a {
  color: #a1a1a1;
}
.mainHeaderBack .mainHeader .menuSection ul .menu-item-has-children ul li a {
  padding: 7px;
  transition: all 0.4s;
}
.mainHeaderBack .mainHeader a {
  display: flex;
  align-items: center;
}
.mainHeaderBack .mainHeader .headerIcon {
  margin-right: auto;
  display: flex;
  align-items: center;
}
.mainHeaderBack .mainHeader .headerIcon .showInDesktopMenu {
  display: flex;
}
@media screen and (max-width: 768px) {
  .mainHeaderBack .mainHeader .headerIcon .showInDesktopMenu {
    display: none;
  }
}
.mainHeaderBack .mainHeader .headerIcon .showInDesktopMenu a {
  margin-right: 8px;
}
.mainHeaderBack .mainHeader .headerIcon .showInMobileMenu {
  display: none;
}
@media screen and (max-width: 768px) {
  .mainHeaderBack .mainHeader .headerIcon .showInMobileMenu {
    display: flex !important;
    flex-direction: row-reverse;
  }
}
.mainHeaderBack .mainHeader .headerIcon .showInMobileMenu .phoneIcon {
  margin-left: 10px;
}

.home .mainHeaderBack {
  background-color: #f5f1ef;
  padding: 0;
}

.stickyHeaderParent {
  position: fixed;
  left: 0;
  right: 0;
  margin: auto;
  top: -100px;
  transition: all 0.5s;
  z-index: 999;
}
.stickyHeaderParent .mainHeaderBack {
  background-color: #fff;
  margin: 0;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.07);
  padding: 3px 0;
}
@media screen and (max-width: 768px) {
  .stickyHeaderParent .mainHeaderBack {
    padding: 7px 0;
  }
}
.stickyHeaderParent .mainHeaderBack .logoSection svg {
  width: 100px;
  height: 70px;
}
@media screen and (max-width: 768px) {
  .stickyHeaderParent .mainHeaderBack .logoSection svg {
    width: 80px;
    height: 50px;
  }
}

.showStickyHeader {
  top: 0;
}

.showMobileMenu {
  left: 0 !important;
}

.mobMenuContainer {
  position: fixed;
  width: 340px;
  z-index: 99999;
  left: -400px;
  margin: auto;
  top: 0;
  bottom: 0;
  height: auto;
  overflow-y: scroll;
  transition: all 0.5s;
  background-color: #fcf9f8;
  display: flex;
  flex-direction: column;
  border-radius: 0px 10px 10px 0px;
}
.mobMenuContainer .sectionUp {
  padding: 15px;
}
.mobMenuContainer #closeMobMenuIcon {
  display: flex;
  margin-right: auto;
}
.mobMenuContainer .logoSection {
  display: block;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
}
.mobMenuContainer .logoSection svg {
  width: 100px;
  height: 60px;
}
.mobMenuContainer .mobileMenu ul {
  margin: 0;
  padding: 0px 10px;
}
.mobMenuContainer .mobileMenu ul li {
  margin: 20px 0px;
  padding-right: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 12px;
  font-weight: 500;
}
.mobMenuContainer .mobileMenu ul li:last-child {
  border-bottom: none;
}
.mobMenuContainer .mobileMenu ul li::before {
  content: none;
}
.mobMenuContainer .mobileMenu ul .current-menu-item a {
  color: #ffa96b;
}
.mobMenuContainer .mobileMenu ul .menu-item-has-children a {
  display: flex;
  align-items: center;
}
.mobMenuContainer .mobileMenu ul .menu-item-has-children a svg {
  margin-right: auto;
}
.mobMenuContainer .mobileMenu ul .menu-item-has-children .sub-menu {
  display: none;
  padding-right: 20px;
}
.mobMenuContainer .mobileMenu ul .menu-item-has-children .sub-menu li {
  border-bottom: none;
  margin: 20px 0px 10px 0px;
  padding-bottom: 0;
  font-size: 13.5px;
}
.mobMenuContainer .footerMobMenu {
  background-color: #ffa96b;
  border-radius: 0px 0px 10px 0px;
  padding: 15px 0px;
  margin-top: auto;
}
.mobMenuContainer .footerMobMenu .footerMobMenuIcons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobMenuContainer .footerMobMenu .footerMobMenuIcons a {
  display: block;
  width: -moz-max-content;
  width: max-content;
  height: -moz-max-content;
  height: max-content;
  margin: 0px 5px;
}

.mainSiteOverlay {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.showSiteOverlay {
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=additional.css.map */